<ng-container *ngIf="(films$ | async) as films; else loaderTemplate">
    <ng-container *ngIf="(bookmarkedFilmsDictionary$ | async) as bookmarkedFilmsDictionary">
        <app-title class="title">{{ films.length }} медіа</app-title>

        <div class="container">
            <div class="row">
                <div
                    *ngFor="let film of films"
                    class="col-xs-12 col-sm-6 col-sm-6 col-xxl-4">
                    <app-online-film-card
                        [film]="film"
                        [bookmarks]="bookmarkedFilmsDictionary[film.kinopoiskId]"
                        (click)="onFilmClick(film)">
                    </app-online-film-card>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #loaderTemplate>
    <app-loader></app-loader>
</ng-template>
