:host {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 25px;
    color: var(--bs-light);
}

.container {
    box-sizing: border-box;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
