<mat-card
    tabindex="0"
    class="card"
    matRipple
    [title]="data.title">
    <div class="description">
        <h2 class="item-row">{{ data.title }}</h2>
        
        <div class="info">
            <div class="item-row">
                {{ data.translation }}
            </div>

            <div class="item-row">
                {{ data.year | date:"longDate" }}
            </div>
        </div>
    </div>

    <div
        class="preview"
        [style.backgroundImage]="'url(' + data.previewUrl + ')'">
    </div>
</mat-card>
