<ng-container
    *ngIf="(films$ | async) as films; else loaderTemplate">
    <app-title>
        <span
            [matBadge]="films?.length"
            [matBadgeOverlap]="false"
            [matBadgeHidden]="!films?.length">
            Обрані
        </span>
    </app-title>

    <div
        *ngIf="films?.length; else emptyContentTemplate"
        class="container">
        <div class="row">
            <div
                *ngFor="let film of films"
                class="col-xs-12 col-sm-6 col-sm-6 col-xxl-4">
                <film-card
                    class="film-card"
                    [data]="film"
                    (click)="onFilmClick(film)">
                </film-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loaderTemplate>
    <app-loader></app-loader>
</ng-template>

<ng-template #emptyContentTemplate>
    <app-subtitle>
        Ви поки що не додавали фільми в "Обране".
    </app-subtitle>
</ng-template>
