<ng-container
    *ngIf="(films$ | async) as films; else loaderTemplate">
    <app-title>
        <span
            [matBadge]="films?.length"
            [matBadgeOverlap]="false"
            [matBadgeHidden]="!films?.length">
            Обрані
        </span>
    </app-title>

    <div class="container">
        <div class="row">
            <div
                *ngFor="let film of films"
                class="col-xs-12 col-sm-6 col-sm-6 col-xxl-4">
                <film-card
                    class="film-card"
                    [data]="film">
                </film-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loaderTemplate>
    <div class="loader">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
