<ng-container *ngIf="(film$ | async) as film; else loaderTemplate">
    <mat-toolbar class="toolbar">
        <div class="title">
            {{ film.title }}
        </div>

        <span class="spacer"></span>

        <button
            mat-icon-button
            [color]="'warn'"
            (click)="onDeleteButtonClick(film)">
            <app-icon>delete</app-icon>
        </button>

        <button
            class="action-button"
            mat-icon-button>
            <app-icon>cast</app-icon>
        </button>

        <button
            mat-icon-button
            (click)="onCloseButtonClick()">
            <app-icon>close</app-icon>
        </button>
    </mat-toolbar>

    <video
        class="player"
        controls
        autoplay>
        <source [src]="filmUrl" type="video/mp4" />
        Браузер не підтримує відображення mp4 відеороликів
    </video>
</ng-container>

<ng-template #loaderTemplate>
    <div class="loader">
        <mat-spinner></mat-spinner>

        <button
            mat-button
            [color]="'warn'"
            (click)="onCloseButtonClick()">
            Відмінити
        </button>
    </div>
</ng-template>
