<ng-container *ngIf="films?.length">
    <p class="title">
        <span
            [matBadge]="films?.length"
            [matBadgeOverlap]="false"
            [matBadgeHidden]="!films?.length">
            Завантажуються
        </span>
    </p>

    <div class="container">
        <div class="row">
            <div
                *ngFor="let film of films"
                class="col-xs-12 col-sm-6 col-sm-6 col-xxl-4">
                <app-downloading-film-card
                    [film]="film">
                </app-downloading-film-card>
            </div>
        </div>
    </div>
</ng-container>
