<mat-toolbar class="toolbar">
    Кінотека

    <span class="spacer"></span>

    <button
        mat-raised-button
        [routerLink]="'/films'"
        [routerLinkActive]="'mat-accent'">
        <mat-icon>live_tv</mat-icon>
    </button>

    <button
        mat-raised-button
        [routerLink]="'/downloads'"
        [routerLinkActive]="'mat-accent'"
        [matBadge]="(filmsCount$ | async)"
        [matBadgeColor]="'warn'"
        [matBadgeHidden]="(isDownloadingFilmsCountBadgeHidden$ | async)">
        <mat-icon>download</mat-icon>
    </button>
</mat-toolbar>
