.toolbar {
    padding: 0px 25px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, .15);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.spacer {
    flex: 1 1 auto;
}

button {
    margin-left: 15px;
}
