:host {
    display: block;
}

.film-card {
    width: 100%;
    margin: 5px;
    position: relative;

    &:hover {
        opacity: .95;
        cursor: pointer;
    }
}

.bookmarkes-row {
    top: 2px;
    right: 8px;
    position: absolute;
}
