:host {
    display: block;
    width: 255px;
}

mat-list-option::ng-deep .mat-list-text {
    padding-right: 0px !important;
}

.item-content {
    width: 100%;
    display: flex;
    align-items: center;

    .downloading-count {
        min-width: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3px;
        border-radius: 50%;
        background-color: var(--bs-danger);
        margin-left: auto;
        font-size: 12px;
        font-weight: bold;
    }

    app-icon {
        margin-left: 5px;
        margin-right: 20px;
    }
}
