<mat-selection-list
    [multiple]="false">
    <mat-list-option
        [routerLink]="appRouteEnum.Films"
        [routerLinkActive]="'mat-list-single-selected-option'"
        (click)="optionClick.emit($event)">
        <div class="item-content">
            <app-icon>movie</app-icon>

            Фільми
        </div>
    </mat-list-option>

    <mat-list-option
        [routerLink]="appRouteEnum.TvSeries"
        [routerLinkActive]="'mat-list-single-selected-option'"
        (click)="optionClick.emit($event)">
        <div class="item-content">
            <app-icon>movie_filter</app-icon>

            Серіали
        </div>
    </mat-list-option>

    <mat-list-option
        [routerLink]="appRouteEnum.Video"
        [routerLinkActive]="'mat-list-single-selected-option'"
        (click)="optionClick.emit($event)">
        <div class="item-content">
            <app-icon>smart_display</app-icon>

            Відео
        </div>
    </mat-list-option>

    <mat-list-option
        [routerLink]="appRouteEnum.Music"
        [routerLinkActive]="'mat-list-single-selected-option'"
        (click)="optionClick.emit($event)">
        <div class="item-content">
            <app-icon>music_note</app-icon>

            Музика
        </div>
    </mat-list-option>

    <mat-list-option
        [routerLink]="appRouteEnum.Settings"
        [routerLinkActive]="'mat-list-single-selected-option'"
        (click)="optionClick.emit($event)">
        <div class="item-content">
            <app-icon>settings</app-icon>

            Налаштування
        </div>
    </mat-list-option>
</mat-selection-list>
