<ng-container *ngIf="(tvSeries$ | async) as tvSeries; else loaderTemplate">
    <mat-toolbar class="toolbar">
        <div class="title">
            {{ tvSeries.title }}
        </div>

        <span class="spacer"></span>

        <smart-cast-button
            class="action-button"
            [data]="tvSeries.kinopoiskId"
            [castType]="castType">
        </smart-cast-button>

        <button
            class="action-button"
            mat-icon-button
            (click)="onCloseButtonClick()">
            <app-icon>close</app-icon>
        </button>
    </mat-toolbar>

    <iframe
        allowfullscreen
        class="player"
        [src]="tvSeries.iframeSrc | safe:'resourceUrl'">
    </iframe>
</ng-container>

<ng-template #loaderTemplate>
    <div class="loader">
        <mat-spinner></mat-spinner>

        <button
            mat-button
            [color]="'warn'"
            (click)="onCloseButtonClick()">
            Відмінити
        </button>
    </div>
</ng-template>
