<ng-container *ngIf="(filteredVideos$ | async) as filteredVideos; else loaderTemplate">
    <app-title>
        <span
            [matBadge]="(allDownloadedVideos$ | async)?.length"
            [matBadgeOverlap]="false"
            [matBadgeHidden]="!(allDownloadedVideos$ | async)?.length">
            Завантажені
        </span>
    </app-title>

    <ng-container *ngIf="(bookmarkedVideosDictionary$ | async) as bookmarkedVideosDictionary">
        <ng-container *ngIf="filteredVideos.length; else emptyContentTemplate">
            <div class="container">
                <div class="row">
                    <div
                        *ngFor="let video of filteredVideos"
                        class="col-xs-12 col-sm-6 col-sm-6 col-xxl-4">
                        <app-downloaded-video-card
                            class="video-card"
                            [video]="video"
                            [bookmarks]="bookmarkedVideosDictionary[video.id]"
                            (click)="onVideoClick(video)">
                        </app-downloaded-video-card>
                    </div>
                </div>
            </div>

            <app-paginator></app-paginator>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #loaderTemplate>
    <app-loader></app-loader>
</ng-template>

<ng-template #emptyContentTemplate>
    <app-subtitle>
        Ви поки що не завантажили жодного відео.
    </app-subtitle>
</ng-template>
