:host {
    display: flex;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
}

.video-card {
    margin: 5px;

    &:hover {
        opacity: .95;
        cursor: pointer;
    }
}

.emty-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        width: 256px;
        margin-bottom: 15px;
    }

    .description {
        color: var(--bs-light);
        font-size: 16px;
    }
}
