<mat-card
    tabindex="0"
    class="card"
    matRipple
    [title]="data.title">
    <div class="description">
        <h2 class="item-row">{{ data.title }}</h2>

        <div class="info">
            <div
                class="item-row">
                <app-icon class="icon">info</app-icon>
                Сезони: {{ data.seasonCount }} | Епізоди: {{ data.episodeCount }}
            </div>

            <div class="item-row">
                <app-icon class="icon">today</app-icon>
                {{ data.startDate | date:"dd.MM.yyyy" }} -&nbsp;
                <ng-container *ngIf="data.endDate">
                    {{ data.endDate | date:"dd.MM.yyyy" }}
                </ng-container>

                <ng-container *ngIf="!data.endDate">
                    в процесі зйомок
                </ng-container>
            </div>
        </div>
    </div>

    <div
        class="preview"
        [style.backgroundImage]="previewCssUrl">
    </div>
</mat-card>
