<mat-toolbar class="toolbar">
    <div class="title">
        {{ data.title }}
    </div>

    <span class="spacer"></span>

    <app-favorite-button
        class="favorite-button"
        [film]="data">
    </app-favorite-button>

    <app-download-button
        class="download-button"
        [film]="data">
    </app-download-button>

    <button
        class="close-button"
        mat-stroked-button
        (click)="onCloseButtonClick()">
        <app-icon>close</app-icon>
    </button>
</mat-toolbar>

<iframe
    allowfullscreen
    class="player"
    [src]="data.iframeSrc | safe:'resourceUrl'">
</iframe>
