<mat-chip-list
    class="chips"
    [class.mobile]="isMobile">
    <mat-chip
        [routerLink]="filmsRoutingEnum.Downloaded"
        [routerLinkActive]="'mat-accent mat-chip-selected'">
        <app-icon class="icon">file_download</app-icon>
        Завантажені
    </mat-chip>

    <mat-chip
        [routerLink]="filmsRoutingEnum.Online"
        [routerLinkActive]="'mat-accent mat-chip-selected'">
        <app-icon class="icon">smart_display</app-icon>
        Online
    </mat-chip>

    <mat-chip
        [routerLink]="filmsRoutingEnum.Playlists"
        [routerLinkActive]="'mat-accent mat-chip-selected'">
        <app-icon class="icon">web_stories</app-icon>
        Плейлисти
    </mat-chip>

    <mat-chip
        [routerLink]="filmsRoutingEnum.Favorites"
        [routerLinkActive]="'mat-accent mat-chip-selected'">
        <app-icon class="icon">star</app-icon>
        Обрані
    </mat-chip>
</mat-chip-list>
