:host {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: rgba(49, 49, 49, .98);
    border-top: solid 1px rgba(255, 255, 255, .1);
    border-bottom: solid 1px rgba(255, 255, 255, .1);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}

.chips {
    width: 100%;
    height: 100%;
}

.chips::ng-deep .mat-chip-list-wrapper {
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 0px 15px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }
}

.icon {
    margin-right: 3px;
}
