<mat-toolbar class="toolbar">
    <div class="title">
        {{ data.title }}
    </div>

    <span class="spacer"></span>

    <app-download-button
        [film]="data">
    </app-download-button>

    <button
        mat-stroked-button
        tabindex="3"
        (keyup.enter)="onCloseButtonClick()"
        (click)="onCloseButtonClick()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<iframe
    allowfullscreen
    class="player"
    [src]="data.iframeSrc | safe:'resourceUrl'">
</iframe>
