<mat-card
    tabindex="0"
    class="card"
    matRipple
    [title]="data.title">
    <ng-content select="[film-card-header]"></ng-content>

    <div class="description">
        <h2 class="item-row truncate-container">
            <span class="text-truncate">
                {{ data.title }}
            </span>
        </h2>

        <div class="info">
            <div class="item-row">
                <app-icon class="icon">translate</app-icon>
                {{ data.media.translationName }}
            </div>

            <div class="item-row">
                <app-icon class="icon">schedule</app-icon>
                {{ data.media.duration | mediaDuration }}
            </div>

            <div class="item-row">
                <app-icon class="icon">today</app-icon>
                {{ data.year | date:"dd.MM.yyyy" }}
            </div>
        </div>
    </div>

    <div
        class="preview"
        [style.backgroundImage]="(previewBgCss$ | async)">
    </div>
</mat-card>
