.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview {
    height: 150px;
    border-radius: 6px;
    image-rendering: pixelated;
}

.info {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    .item-row {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
