<app-header
    class="header"
    (menuButtonClick)="drawer.toggle()">
</app-header>

<app-scroll-top-button>
</app-scroll-top-button>

<mat-drawer-container
    class="drawer-container"
    [hasBackdrop]="isDrawerHasBackdrop">
    <mat-drawer
        #drawer
        [mode]="drawerMode"
        [opened]="isDrawerOpened">
        <app-sidebar
            (optionClick)="onDrawerOptionClick()">
        </app-sidebar>
    </mat-drawer>

    <mat-drawer-content class="drawer-content">
        <div class="router-outlet-wrapper">
            <router-outlet></router-outlet>
        </div>

        <app-footer class="footer"></app-footer>
    </mat-drawer-content>
</mat-drawer-container>
