<ng-container *ngIf="filmsResponse; else loaderTemplate">
    <ng-container *ngIf="(bookmarkedFilmsDictionary$ | async) as bookmarkedFilmsDictionary">
        <div class="container">
            <div class="row">
                <div
                    *ngFor="let film of filmsResponse.data"
                    class="col-xs-12 col-sm-6 col-sm-6 col-xxl-4">
                    <app-online-film-card
                        [film]="film"
                        [bookmarks]="bookmarkedFilmsDictionary[film.kinopoiskId]"
                        (click)="onFilmClick(film)">
                    </app-online-film-card>
                </div>
            </div>
        </div>
    </ng-container>

    <app-paginator
        [filmsResponse]="filmsResponse">
    </app-paginator>
</ng-container>

<ng-template #loaderTemplate>
    <app-loader></app-loader>
</ng-template>
