<ng-container *ngIf="(tvSeries$ | async) as tvSeries; else loaderTemplate">
    <mat-toolbar class="toolbar">
        <div class="title">
            {{ tvSeries.title }}
        </div>

        <span class="spacer"></span>

        <div class="action-buttons">
            <app-bookmark-button
                [tvSeries]="tvSeries">
            </app-bookmark-button>

            <app-download-button
                [tvSeries]="tvSeries">
            </app-download-button>

            <smart-cast-button
                [data]="tvSeries.kinopoiskId"
                [castType]="castType">
            </smart-cast-button>

            <button
                mat-icon-button
                (click)="onCloseButtonClick()">
                <app-icon>close</app-icon>
            </button>
        </div>
    </mat-toolbar>

    <iframe
        allowfullscreen
        class="content"
        [src]="tvSeries.iframeSrc | safe:'resourceUrl'">
    </iframe>
</ng-container>

<ng-template #loaderTemplate>
    <app-loader>
        <button
            loader-suffix
            mat-button
            [color]="'warn'"
            (click)="onCloseButtonClick()">
            Відмінити
        </button>
    </app-loader>
</ng-template>
