@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/material-icons.otf);
}

.mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

html, body {
    height: 100%;
}

html {
    overflow: hidden !important;
}

body {
    overflow: auto;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
    user-select: none;
}

input {
    color: white !important;
}

.film-details-pane {
    .mat-dialog-container {
        padding: 0px;
    }
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(189, 189, 189, .1);
}

.mat-drawer-content {
    scrollbar-color:hsl(0,0%,67%) transparent;

    &::-webkit-scrollbar {
        width:16px;
    }

    &::-webkit-scrollbar-thumb {
        height:56px;
        border-radius:8px;
        border:4px solid transparent;
        background-clip:content-box;
        background-color:hsl(0,0%,67%);
    }
}
