<ng-container
    *ngIf="(filters$ | async) as filters">
    <mat-form-field
        class="example-full-width"
        appearance="fill">
        <mat-label>Пошук</mat-label>

        <input
            matInput
            class="search-input"
            [placeholder]="'Введіть назву фільму'"
            [value]="filters.query"
            (change)="onSearchChange($event)" />
    </mat-form-field>

    <mat-form-field
        class="example-full-width"
        appearance="fill">
        <mat-label>Рік</mat-label>

        <input
            matInput
            type="number"
            class="year-input"
            [placeholder]="'Введіть рік фільмів'"
            [value]="filters.year"
            (change)="onYearChange($event)" />
    </mat-form-field>
</ng-container>
